.App {
  background-color:whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Editor {
  background-color: #09d3ac;
  flex:2;
  display: flex;
  flex-direction: column;
  
  /* justify-content: flex-start;
  align-content: center; */
}

.Preview {
  color: #20272F;
  background-color:#c0d8d8;
  flex: 3;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

/* #preview {
  padding: 0 10px 0 10px;;
} */

#editor {
  width: 99% !important;
  height: 300px;
}

#header {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #20272F;
}

#container {
  overflow: hidden;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#content {
  
}